@inherits MyStatiqRazorPage<IDocument>

<div id="archives" class="main-content-wrap">
    <form id="filter-form" action="#">
        <input name="tag" type="text" class="form-control input--xlarge" placeholder="@Localization.Get("global.search_tag")" autofocus="autofocus">
    </form>
    <h4 class="archive-result text-color-base text-xlarge"
        data-message-zero="@Localization.Get("global.tags_found.zero")"
        data-message-one="@Localization.Get("global.tags_found.one")"
        data-message-other="@Localization.Get("global.tags_found.other")">
    </h4>
    <section>
        @{
            var posts = Document.GetChildren().AsBlogPosts().ToList();
            var tagNames = posts.AllTagsOrdered();
        }
        @foreach (var tagName in tagNames)
        {
            <a class="tag tag--primary tag--small" href="#@tagName-list" data-tag="@tagName.ToLower()">
                @tagName
            </a>
        }
    </section>
    <section class="boxes">
        @foreach (var tagName in tagNames)
        {
            <div id="@tagName-list" class="archive box" data-tag="@tagName.ToLower()">
                <h4 class="archive-title">
                    <a class="link-unstyled" href="../tags/@SlugBuilder.Create("", tagName)">
                        @tagName (@posts.CountPostsPerTag(tagName))
                    </a>
                </h4>
                <ul class="archive-posts">
                    @foreach (var post in posts.AllPostsPerTag(tagName))
                    {
                        <li class="archive-post">
                            <a class="archive-post-title" href="@post.Permalink">
                                @post.Title
                            </a>
                            <span class="archive-post-date"> - @post.Date</span>
                        </li>
                    }
                </ul>
            </div>
        }        
    </section>
</div>