@inherits StatiqRazorPage<IDocument>

<section class="postShorten-group main-content-wrap">
    @foreach (var blogPost in Document.GetChildren().AsBlogPost())
    {
        <article class="postShorten postShorten--thumbnailimg-right">
            <div class="postShorten-wrap">
                <div class="postShorten-header">
                    <h1 class="postShorten-title">
                        <a class="link-unstyled" href="@blogPost.Permalink" aria-label=": @blogPost.Title">
                            @blogPost.Title
                        </a>
                    </h1>
                    <div class="postShorten-meta">
                        <time datetime="@blogPost.Date">
                            @blogPost.Date
                        </time>
                    </div>
                </div>
                <div class="postShorten-excerpt">
                    @Html.Raw(blogPost.Excerpt)
                    <a href="@blogPost.Permalink" class="postShorten-excerpt_link link" aria-label=": @blogPost.Title">
                        @this.Translate("post.read_more")
                    </a>
                </div>
            </div>
            @if (!string.IsNullOrWhiteSpace(blogPost.ThumbnailImage))
            {
                <a href="@blogPost.Permalink" aria-label=": @blogPost.Title">
                    <div class="postShorten-thumbnailimg">
                        <img alt="" src="@blogPost.ThumbnailImage">
                    </div>
                </a>
            }
        </article>
    }
    @await Html.PartialAsync("pagination.cshtml", Document)
</section>