@inherits StatiqRazorPage<IDocument>

<section class="postShorten-group main-content-wrap">
    @foreach (var post in Document.GetChildren())
    {
        var permalink = post.GetString("permalink");
        var title = post.GetString("title");
        var date = post.GetDateTime("date").ToString("MMM dd, yyyy"); //TODO extract date format in configuration
        var thumbnailImage = post.GetString("thumbnailImage");
        var excerpt = new HtmlString(post.GetString(Keys.Excerpt));

        <article class="postShorten postShorten--thumbnailimg-right">
            <div class="postShorten-wrap">
                <div class="postShorten-header">
                    <h1 class="postShorten-title">
                        <a class="link-unstyled" href="@permalink" aria-label=": @title">
                            @title
                        </a>
                    </h1>
                    <div class="postShorten-meta">
                        <time datetime="@date">
                            @date
                        </time>
                    </div>
                </div>
                <div class="postShorten-excerpt">
                    @excerpt
                    <a href="@permalink" class="postShorten-excerpt_link link" aria-label=": @title">
                        Continue reading
                    </a>
                </div>
            </div>
            @if (!string.IsNullOrWhiteSpace(thumbnailImage))
            {
                <a href="@permalink" aria-label=": @title">
                    <div class="postShorten-thumbnailimg">
                        <img alt="" src="@thumbnailImage">
                    </div>
                </a>
            }
        </article>
    }
    @await Html.PartialAsync("pagination.cshtml", Document)
</section>