@using Blog.Statiq.Helpers
@inherits StatiqRazorPage<IDocument>

<h1>Settings</h1>

 @* <h1>@Metadata.ContainsKey("author:email").ToString()</h1> *@
 @* <h1>@Metadata["author:email"]</h1> *@
 @* <h1>@Metadata["timezone"]</h1> *@
 @* @if (Metadata.TryGetValue("author:email", out var author)) *@
 @* { *@
 @*     <h1>FOUND</h1> *@
 @*     <h1>@author</h1> *@
 @* } *@
 
@{
    var global = Global.ContextSetting(Context);

    var external_link = (IMetadata)Metadata["external_link"];

    var deployment = Context.AsDeployment();
}

<h1>Deployment</h1>
<h2>@deployment.Branch</h2>
<h2>@deployment.Repository</h2>
<h2>@deployment.Type</h2>

@if (Metadata != null)
 {
     <h2>@Metadata.Keys.Count().ToString()</h2>

     <h2>@global["author_picture"]</h2>

    <h1>@deployment</h1>                                  
                                  
@*     <h2>@Metadata["sidebar"]</h2> *@
@*     <h2>@Metadata["sidebar:menu:home:icon"]</h2> *@
@*     <h2>@Metadata["author:picture"]</h2> *@

@*     <h2>@external_link["enable"]</h2> *@
                             

     @foreach (var key in Metadata.Keys)
     {
         <table>
             <tr>
                 <td>@key</td>
             </tr>
         </table>
     }
 }
