@inherits MyStatiqRazorPage<IDocument>

<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="@Html.Raw(Metadata["author2"])">
    <title>@Html.Raw(@Document.GetTitle()) - @Html.Raw(Metadata["author2"])</title>
    <meta name="author" content="@Html.Raw(Metadata["author2"])">
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">

    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.11/plyr.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css" integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/github.min.css" integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>