@inherits MyStatiqRazorPage<IEnumerable<BlogElementBase>>

<section class="postShorten-group main-content-wrap">
    @foreach (var blogElement in Model)
    {
        <article class="postShorten postShorten--thumbnailimg-right">
            <div class="postShorten-wrap">
                <div class="postShorten-header">
                    <h1 class="postShorten-title">
                        <a class="link-unstyled" href="@blogElement.Permalink" aria-label=": @blogElement.Title">
                            @blogElement.Title
                        </a>
                    </h1>
                    <div class="postShorten-meta">
                        <time datetime="@blogElement.Date">
                            @blogElement.Date
                        </time>
                    </div>
                </div>
                <div class="postShorten-excerpt">
                    @Html.Raw(blogElement.Excerpt)
                    <a href="@blogElement.Permalink" class="postShorten-excerpt_link link" aria-label=": @blogElement.Title">
                        @Localization.Get("post.read_more")
                    </a>
                </div>
            </div>
            @if (!string.IsNullOrWhiteSpace(blogElement.ThumbnailImage))
            {
                <a href="@blogElement.Permalink" aria-label=": @blogElement.Title">
                    <div class="postShorten-thumbnailimg">
                        <img alt="" src="@blogElement.ThumbnailImage">
                    </div>
                </a>
            }
        </article>
    }
    @await Html.PartialAsync("pagination.cshtml", Document)
</section>