@inherits StatiqRazorPage<IDocument>
@{
    var previous = Model.GetDocument(Keys.Previous);
    var next = Model.GetDocument(Keys.Next);
}
<div class="pagination-bar">
    <ul class="pagination">
        @if (previous != null)
        {
            <li class="pagination-prev">
                <a
                    class="btn btn--default btn--small"
                    href="@previous.GetLink()"
                    aria-label="@this.GetLocalized("pagination.newer_posts")">
                    <i class="fa fa-angle-left text-base icon-mr"></i>
                    <span>@(this.GetLocalized("pagination.newer_posts"))</span>
                </a>
            </li>
        }
        @if (next != null)
        {
            <li class="pagination-next">
                <a
                    class="btn btn--default btn--small"
                    href="@next.GetLink()"
                    aria-label="@this.GetLocalized("pagination.older_posts")">
                    <span>@(this.GetLocalized("pagination.older_posts"))</span>
                    <i class="fa fa-angle-right text-base icon-ml"></i>
                </a>
            </li>
        }
        <li class="pagination-number">@this.GetLocalized("pagination.page", Model.GetString(Keys.Index)) @this.GetLocalized("pagination.of", Model.GetString(Keys.TotalPages))</li>
    </ul>
</div>