@inherits MyStatiqRazorPage<IDocument>
@{
    var previous = Model.GetDocument(Keys.Previous);
    var next = Model.GetDocument(Keys.Next);
    var index = Model.GetString(Keys.Index);
    var totalPages = Model.GetString(Keys.TotalPages);
    
    var paginationType = ViewData["paginationType"];
}
<div class="pagination-bar">
    <ul class="pagination">
        @if (previous != null)
        {
            <li class="pagination-prev">
                <a
                    class="btn btn--default btn--small"
                    href="@previous.GetLink()"
                    aria-label="@Localization.Get($"pagination.newer_{paginationType}")">
                    <i class="fa fa-angle-left text-base icon-mr"></i>
                    <span>@Localization.Get($"pagination.newer_{paginationType}")</span>
                </a>
            </li>
        }
        @if (next != null)
        {
            <li class="pagination-next">
                <a
                    class="btn btn--default btn--small"
                    href="@next.GetLink()"
                    aria-label="@Localization.Get($"pagination.older_{paginationType}")">
                    <span>@(Localization.Get($"pagination.older_{paginationType}"))</span>
                    <i class="fa fa-angle-right text-base icon-ml"></i>
                </a>
            </li>
        }
        <li class="pagination-number">@Localization.GetFormatted("pagination.page", index) @Localization.GetFormatted("pagination.of", totalPages)</li>
    </ul>
</div>