@inherits MyStatiqRazorPage<IEnumerable<BlogElementBase>>

<section class="postShorten-group main-content-wrap">
    @foreach (var presentation in Model)
    {
        <article class="postShorten postShorten--thumbnailimg-right">
            <div class="postShorten-wrap">
                <div class="postShorten-header">
                    <h1 class="postShorten-title">
                        <a class="link-unstyled" href="@presentation.Permalink" aria-label=": @presentation.Title">
                            @presentation.Title
                        </a>
                    </h1>
                    <div class="postShorten-meta">
                        <time datetime="@presentation.Date">
                            @presentation.Date
                        </time>
                    </div>
                </div>
                <div class="postShorten-excerpt">
                    @Html.Raw(presentation.Excerpt)
                    <a href="@presentation.Permalink" class="postShorten-excerpt_link link" aria-label=": @presentation.Title">
                        @Localization.Get("presentation.see_more")
                    </a>
                </div>
            </div>
        </article>
    }
    @await Html.PartialAsync("pagination.cshtml", Document)
</section>