@using Blog.Statiq.Helpers
@inherits StatiqRazorPage<IDocument>

@{
    var author = Context.GetAuthor();
}
<nav id="sidebar" data-behavior="@Global.SidebarBehavior">
    <div class="sidebar-container">
        @if (!string.IsNullOrWhiteSpace(author.Picture))
        {
            <div class="sidebar-profile">
                <a href="/#about" @* TODO see how to convert url_for('/#about') *@
                   aria-label="@this.GetLocalized("global.read_more_about_author")">
                    <img class="sidebar-profile-picture"
                         src="@author.Picture"
                         alt="@this.GetLocalized("global.author_picture")"/>
                </a>
                <h4 class="sidebar-profile-name">@Metadata["author2"]</h4>
                @if (!string.IsNullOrWhiteSpace(this.GetLocalized("author.bio")))
                {
                    <h5 class="sidebar-profile-bio">@this.GetLocalized("author.bio")</h5>
                }
            </div>
        }

    @foreach(var menu in Context.GetSidebar().SideBarMenus)
    {
        <ul class="sidebar-buttons">
        @foreach (var (_, title, url, icon) in menu.SideBarButtons)
        {
            var localizedTitle = this.GetLocalized(title);
            
            <li class="sidebar-button">
                <a
                    class="sidebar-button-link"
                    href="@url"
                    rel="noopener"
                    title="@localizedTitle">
                    <i class="sidebar-button-icon @icon" aria-hidden="true"></i>
                    <span class="sidebar-button-desc">@localizedTitle.WithFirstLetterUppercase()</span>
                </a>
            </li>
        }
        </ul>
    }
    </div>
</nav>